.detail {
    text-align: center;
    margin: 4rem 6rem 5rem;
}

.detail p{
    margin-top:1.8rem;
    line-height:1.8rem;
}


.first-service,.second-service,.third-service{
    display: flex;
    margin-top: 4.5rem;
    max-width: 100%; /* Ensure the container does not exceed the parent's width */
    padding: 0 2rem; /* Add padding to ensure content doesn't touch the edges */
}



.service-text {
    width: 50%;
    text-align: center; /* Align text to the left */
    padding-right: 2rem; /* Space between text and image */
}

.service-text p{
    text-align: start;
}

.image{
    padding-bottom: 350px;
}

.shampooImage {
    width:550px;
    height:350px;
    object-fit: cover;
    max-width: 100%;
}


hr {
    border: none; /* Removes default border */
    border-top: 1px solid rgb(200, 200, 200); /* Adds a top border */
    margin-top:70px;
    width: 100%; /* Adjust the width as needed */
}


@media screen and (max-width: 850px) {

    .first-service, .second-service,.third-service {
        flex-direction: column; /* Stack content and image vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .service-text {
        width: 100%; /* Full width for content */
        padding-right: 0; /* Remove padding on smaller screens */
        margin-bottom: 1rem; /* Space between content and image */
    }

    .image {
        display: flex;
        justify-content: center; /* Center image horizontally */
        width: 100%; /* Ensure the image container takes the full width */
        
    }
    
    .shampooImage {
        width: 100%; /* Ensure the image fits the container width */
        height: auto; /* Maintain aspect ratio */
        padding: 0 1rem;
    }

}