.footer {
    padding: 4rem 6rem;
    background-color: black;
    color: white;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start; /* Consider moving text-align here for consistency */
}

.top i {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover {
    color: #01959a;
}

.bottom {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start; /* Consider moving text-align here for consistency */
}

.bottom div {
    display: flex;
    flex-direction: column;
}

.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0; /* Adjusted padding to reduce excessive bottom padding */
}

.bottom a {
    text-transform: none;
    color: #fafafa;
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem; /* Adjusted padding */
    }

    /* Adjusted the selector to target .top i */
    .top i {
        margin: 1rem 1rem 0 0; /* Adjusted margin */
    }

    /* Adjusted the selector to target .bottom div */
    .bottom div {
        width: 100%; /* Full width for better stacking on smaller screens */
    }
}
